body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.login-container {
    width: 300px;
    padding: 20px;
}

.login-box {
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    margin-bottom: 5px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: calc(100% - 12px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #535f80;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.login-box .register-button {
    background-color: transparent;
    border: 1px solid #535f80;
    color: rgb(0, 0, 0);
}

.login-box .forgot-password {
    text-align: center;
    margin-top: 10px;
}

.login-box .terms {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #888;
}